<router-outlet></router-outlet>

<div class="main">
  <div class="topnav">
    <a class="active" href="#home">Home</a>
    <span class="search-container">
      <input id="hide" type="text" placeholder="Search.." name="search" [(ngModel)]="searchText" autocomplete="off" placeholder=""/>
      <button id="hide" type="submit"><i class="fa fa-search"></i></button>
    </span>
    <button id="hide" class="btn-login">Login</button>
  </div>
  <div class="grid-section">
    <div class="stories">
      <h2 id="story-h2">All Products</h2>
      <div class="row">
        <div
          class="display"
          *ngFor="
            let cardData of data1 | filter: searchText | paginate: { itemsPerPage: 4, currentPage: p }; let i=index  
          "
          id="story-img"
          class="col-xs-12 col-sm-6 col-lg-3 my-3"
        >
          <img
            class="images"
            style="justify-self: center"
            [src]="cardData.images[0].url"
            alt=""
            height="200px"
            width="100%"
          />
          <!-- <p>{{data1[0].name}}</p> -->
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ cardData.name }}</h5>
            <b>${{ cardData.price }}</b>
            <div>{{ cardData.rating }}</div>
            <div class="rating-outer">&#9734;&#9734;&#9734;&#9734;&#9734;</div>
          </div>
          <div class="">
            <button class="btn btn-block view-btn">View Details</button>
          </div>
        </div>
      </div>
    </div>
    <pagination-controls class ="my-pagination"style="display: flex; justify-content: center; margin: 30px 0px; " (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
